* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #02a982;
}

body {
    margin: 0 auto;
    max-width: 30rem;
	padding: 2rem 1rem;
}

a {
	text-decoration: none;
}

.card {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 2.5rem;
	background: #02a982;
	text-align: center;
	box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.24),0 1rem 1rem 0 rgba(0,0,0,0.19);
	border-radius: 0.5rem;
}

.title {
    background-color: #fff;
    background-image: url("http://img.loli.casa");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 6.5rem 0;
	font-size: 1.6rem;
	color: #fff;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	text-shadow: #000 0.1rem 0.1rem 0.2rem;
}

.content {
    padding: 1rem;
	color: green;
	font-size: 1rem;
	background: #fff;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.input {
    box-sizing: border-box;
	padding: 0.25rem;
	border: 0.05rem solid #ddd;
	color: #ff0000;
	font-size: 1rem;
	border-radius: 0.25rem;
	outline: none;
}

.submit {
    background: #f08080;
    padding: 0.4rem;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    outline: none;
}

.link {
    word-break:break-all;
	color: #bebebe;
}